*{margin:0; padding:0;}
h2{margin:30px 0;}
input[type="file"]{display: initial;}
body{
    background: url(../img/bg.jpg) no-repeat center center fixed;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
}
.container{
	width:500px;
	margin:50px auto;
	text-align:center;
    background: #c0c0c0;
    -webkit-box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    1px 1px 30px 0px rgba(0, 0, 0, 1);
    box-shadow:         1px 1px 30px 0px rgba(0, 0, 0, 1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:50px;
    display:none;
}
.btn-file {position: relative; overflow: hidden; margin-right: 4px; }
.btn-file input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4); font-size: 23px; direction: ltr; cursor: pointer; }
/* Fix for IE 7: */
* + html .btn-file { padding: 2px 15px; margin: 1px 0 0 0; }
    [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    
}
.icon-plus {background-position: -408px -96px;}
.icon-file {background-position: -24px -24px;}
.loader{display:none; width:50px;}
.myImg{opacity: 0.9;}
.myImg:hover{opacity: 1;}

.remove-link{
     text-decoration: none;
     color: red;
     font-weight: bold;
 }
.remove-link:hover{
    text-decoration: none;
    color: darkred;
}